.footer {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.2rem 0;
  background-color: #ddd;
  justify-content: center;
  align-items: center;
}

.footer div {
    display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.link {
  cursor: pointer;
}

.logo {
  margin-top: -15px;
  font-weight: 600;
  font-size: 1.4rem;
}

.text {
  margin-top: -35px;
  margin-bottom: 5px;
  font-weight: 100;
}