html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #eee;
    color: #3f3f3f;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1{
  margin-top: 0px;
  font-weight: 600;
  font-size: 1.5rem;
}
