.container {
  padding: 0 1rem;
}

.main {
  min-height: calc(100vh - 100px);
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main input {
  border: 0px;
  color: #3f3f3f;
  font-size: 1.2rem;
  width: 450px;
}

.input {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  height: 50px;
  border-radius: 25px;
  padding-left: 25px;
  margin-bottom: 1rem;
}

.maintitle {
  font-size: 1.25rem;
  font-weight: 600;
}

.subtitle {
  font-size: 1rem;
  font-weight: 100;
}

.email {
  font-size: 1rem;
  font-weight: 600;
  color: #f9b233;
  transition: color 0.15s ease;
}

.email:hover,
.email:focus,
.email:active {
  color: #ffffff;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 90vw;
}

.card {
  margin: 1rem;
  padding: 2rem;
  background-color: #fff;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 0px;
  border-radius: 50px;
  transition: color 0.15s ease, background-color 0.15s ease;
  width: 250px;
  height: 250px;
  cursor: pointer;
}

.card:hover,
.card:focus,
.card:active {
  color: #ffffff;
  background-color: #555;
}

.cardalt {
  margin: 1rem;
  padding: 2rem;
  background-color: #f9b233;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  border: 0px;
  border-radius: 50px;
  transition: background-color 0.15s ease;
  width: 100px;
  height: 100px;
  font-size: 1.9rem;
  cursor: pointer;
}

.cardalt:hover,
.cardalt:focus,
.cardalt:active {
  background-color: #3f3f3f;
}

.button {
  margin: 0.4rem;
  padding: 0.1rem;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  border: 0px;
  border-radius: 20px;
  transition: background-color 0.15s ease;
  width: 40px;
  height: 40px;
  font-size: 1.9rem;
  cursor: pointer;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #eee;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
}

.image {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: #f9b233;
  transition: background-color 0.15s ease;
}

.image:hover,
.image:focus,
.image:active {
  background-color: #fff;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 626px) {
  .input {
    width: 250px;
  }

  .main input {
    width: 160px;
  }
}
