.container {
  padding: 0 1rem;
}

.main {
  min-height: calc(100vh - 100px);
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.maintitle {
  font-size: 1.7rem;
  font-weight: 600;
}

.username {
  margin-top: -10px;
  font-size: 1.2rem;
  font-weight: 100;
}

.subtitle {
  margin-top: -7px;
  font-size: 1rem;
  font-weight: 100;
}

.email {
  font-size: 1.2rem;
  font-weight: 600;
  color: #f9b233;
  transition: color 0.15s ease;
}

.email:hover,
.email:focus,
.email:active {
  color: #3f3f3f;
}

.card {
  margin: 1rem;
  padding: 2rem;
  background-color: #fff;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 0px;
  border-radius: 50px;
  width: auto;
  min-width: 560px;
  height: 264px;
  display: flex;
  flex-wrap:nowrap;
  align-items: center
}

.cardalt {
  margin: 1rem;
  padding: 2rem;
  background-color: #f9b233;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  border: 0px;
  border-radius: 50px;
  transition: background-color 0.15s ease;
  width: 100px;
  height: 100px;
  font-size: 1.9rem;
  cursor: pointer;
}

.cardalt:hover,
.cardalt:focus,
.cardalt:active {
  background-color: #3f3f3f;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 35px;
  background-color: #f9b233;
  align-self: center;
}

.info {
  margin-left: 34px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .card {
    flex-direction: column;
    height: auto;
    min-width: 320px;
  }

  .info {
    margin-left: 0px;
    margin-top: 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}